.anime-list {
	list-style-type: none;
	margin-bottom: 0;
	background: #fff;
	height: 350px;
	overflow-y: scroll;
	margin: 0;
	padding: 0;
	li {
		height: 50px;
		line-height: 50px;
		background: lighten(gray, 10%);
	}
}