.button {
	background: $primary-color;
	color: $primary-text-color;
	&:hover {
		background: darken($primary-color, 10%);
	}
	&:focus, &:active {
		background: darken($primary-color, 15%);
	}
	&:disabled {
		background: gray;
		&:hover {
			background: darken(gray, 10%);
		}
	}
}