<nav class="top-bar" data-topbar role="navigation">
	<div class="fluid-row">
		<div class="small-6 columns">
			<h1 class="name" ng-hide="!main.user">Welcome {{main.user.username}}</h1>
		</div>	
		<div class="small-6 columns">
			<form ng-submit="main.login(vm.username, vm.password)" ng-hide="main.user">
				<div class="small-4 columns">
					<input ng-model="main.username" placeholder="Username" type="text"/>
				</div>	
				<div class="small-4 columns">
					<input ng-model="main.password" placeholder="Password" type="password"/>
				</div>
				<button type="submit" class="button right">Login</button>
			</form>
			<button ng-hide="!main.user" ng-click="main.logout()" class="button right">Logout</button>
		</div>
	</div>	
</nav>

<div class="anime">
	<h1 class="text-center">Ranime! - The cool Anime Randomizer!</h1>
	<div class="row">
		<div class="small-12 columns collapsed">
			<form name="animeForm" ng-submit="main.postAnime()" class="clearfix" ng-hide="!main.user">
				<div class="small-7 columns l-collapsed">
					<input class="small m-b-collapsed" type="text" ng-model="main.postname" required>
				</div>
				<div class="small-5 columns r-collapsed">
					<button ng-disabled="animeForm.$invalid" class="button small m-b-collapsed primary expand" type="submit">Submit</button>
				</div>
			</form>


			<ul class="anime-list">
				<li ng-repeat="anime in main.data">{{anime.name}}</li>
			</ul>
		</div>
		<div class="small-12 columns text-center">
			<button class="button" ng-click="main.randomAnime()">Randomize!</button>
		</div>	
	</div>
</div>